.cart_total
{
    border-radius: 10px;
    font-family: monospace;
    box-shadow: 0px 5px 5px -5px rgba(34, 60, 80, 0.6);
}

.cart_total:hover
{
    box-shadow: none;
}

.cart_empty_txt
{
    position: absolute;
    text-align: center;
    top: 360px;
    right: 0;
    left: 0;
    bottom: 0px;
}

.cart_empty_icn:hover
{
    cursor: pointer;
    color: greenyellow;
}

@media (min-width: 991.98px) {
    .cart_empty_txt
    {
        font-size: 20px;
    }
}